* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: Tahoma, sans-serif;
    background: #f5f5f5;
    color: #222;
    line-height: 1.7;
    direction: rtl;
    font-family: "Vazirmatn", sans-serif;
}

/* هدر درست و استاندارد */
.site-header {
    display: flex;
    justify-content: space-between; /* لوگو چپ، منو راست */
    align-items: center;
    background: #222;
    color: #fff;
    padding: 15px 20px;
    border: 3px solid rgb(8, 1, 1);
}

/* لوگو */
.logo {
    width: 150px;
    height: auto;
    background-color: #f5f5f5;
}

/* منو */
.main-nav {
    text-align:right;
}

.main-nav a {
    color: #fff;
    text-decoration: none;
    margin-left: 15px;
    font-size: 16px;
}

.main-nav a:hover {
    text-decoration: underline;
}

/* بقیه بخش‌ها */
.hero {
    background: #222;
    padding: 40px 20px;
    text-align: center;
     color: #fff;
}

/* این قسمت مربوط به منو اصلی می باشد -----------------------------------------*/

.menoo {
    border: 3px solid rgb(255, 255, 255);
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    gap: 20px;
    direction: rtl; /* چون سایت فارسی است */
    margin-top: 20px;
}
.skills-content {
    color: blue;
    border: 3px solid rgb(74, 118, 138);
    width: 300px;
    padding-right: 30px;
}

.skills-content1 {
    color: rgba(12, 12, 12, 0.884);
    border: 3px solid rgb(74, 118, 138);
    width: 1000px;
    padding-right: 30px;


}
.skills-content2 {
    color: rgba(12, 12, 12, 0.884);
    border: 3px solid rgb(74, 118, 138);
    width: 300px;
    padding-right: 30px;


}






/* این قسمت مربوط به فودر سایت می باشد---------------------------------------------------------- */
.site-footer {
    text-align: center;
    padding: 15px;
    font-size: 13px;
    color: #f1efef;
   border: 3px solid rgb(55, 0, 255);
   margin-top: 20px;
   background: #222


}
.footer-sections {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    gap: 20px;
    direction: rtl; /* چون سایت فارسی است */
    
}

.footer-section {
    width: 25%;
}


